<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Brain Stroke Prediction </title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon1.ico" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <style>
  	body {background-image: url('../static/img/world.jpg');    background-repeat: no-repeat; background-attachment: fixed; background-size:cover;}
  </style>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body text="black">
	
	
	<div class="login">
		<!--Get input for prediction-->
		<center>
			<form action="{{ url_for('predict')}}"method="post">
				<h1>BRAIN STROKE PREDICTION  </h1><h2>       ENTER FIELDS</h2>
                
				<input type="text" name="age" placeholder="age" required="required" /><br>
				<input type="text" name="avg_glucose_level" placeholder="avg_glucose_level" required="required" /><br>
				<input type="text" name="bmi" placeholder="bmi" required="required" /><br>
				<input type="text" name="hypertension" placeholder="hypertension" required="required" /><br>
				<input type="text" name="heart_disease" placeholder="heart_disease" required="required" /><br>
				<input type="text" name="ever_married" placeholder="ever_married" required="required" /><br>
				
				<input type="text" name="work_type" placeholder="work_type" required="required" /><br>
				<input type="text" name="smoking_status" placeholder="smoking_status" required="required" /><br>
				
			
				
				
				<!-- show button-->
				<div class="button_cont" align="center"><a class="button_css">
					<button text="blue" type="submit" class="btn btn-primary btn-block btn-large"><strong><h4>CLICK HERE TO PREDICT </h4></strong>
						<h4 style="color:Tomato;">Stroke may occur(1)</h4>
						<h4 style="color:DodgerBlue;">Stroke won't occur(0)</h4>
					</button></a>
				</div>
			</form>
		</center> <!--Show predicted output using ML model-->
		<div>
			<center>
				<h1>{{ prediction}}</h1>
				
			


                   

			
		</ul>
		
		</center>
	</div >

	</body>
	</html>